@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
}

.App{

}
/* hr {
  
    margin-top: 120px;
    margin-left: 120px;
    background-color:  rgb(212, 161, 65);
    border: 2pt solid rgb(212, 161, 65);
    
} */

h2 {
    font-family: 'Moshake', sans-serif;
    background: -moz-linear-gradient(top, rgb(236, 114, 26) 0%, rgba(253,181,45,1) 100%);
    background: -webkit-linear-gradient(top, rgb(243, 139, 65) 0%, rgb(219, 134, 36) 100%);
    background: linear-gradient(to bottom, rgb(238, 127, 48) 0%, rgba(253,181,45,1) 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
 
  

}
header {
    background-color: black;
}

nav {
    background-color: rgb(23, 23, 29);
    padding: 13px 0;
    
}
.text {
    color: white;
}


.circle-plus {  
    color: orange;
    position: absolute;
    margin-top: -40px;
    margin-left: -25px;
}





.title-nav{
    font-size: 10px;
    margin-left: 1px;
    
}


form{
    background-color: aliceblue;
}